---
import Head from "../components/Head.astro";
import HeaderLink from "../components/HeaderLink.astro";
import Socials from "../components/Socials.astro";
import { SITE_TITLE } from "../consts";
import { Icon } from "astro-icon/components";

const { title, description, image, fluid } = Astro.props;
---

<!doctype html>
<html lang="en">
  <Head title={title} description={description} image={image} />

  <body class="h-svh w-full">
    <div class="border-b-[1px] border-slate-200 bg-white">
      <header class="h-full px-16">
        <nav
          class="h-28 md:h-16 flex flex-col md:flex-row justify-around place-items-center max-w-7xl mx-auto"
        >
          <a href={import.meta.env.BASE_URL} class="">
            <h1
              class="py-5 text-lg w-max font-semibold font-[Inter] transition"
            >
              <Icon name="banner" class="inline text-4xl mr-3" />
              <span class="inline-block text-xl" style={{ color: "black" }}
                >{SITE_TITLE}</span
              >
            </h1>
          </a>

          <ul
            class="h-full flex flex-row justify-center align-middle space-x-1 md:space-x-2 md:ml-auto"
          >
            <HeaderLink href="targets">Targets</HeaderLink>
            <HeaderLink href="docs">Documentation</HeaderLink>
            <HeaderLink href="blog">Blog</HeaderLink>
            <HeaderLink href="https://shop.probe.rs/" target="_blank"
              >Shop <Icon
                name="line-md--external-link"
                class="inline"
              /></HeaderLink
            >
          </ul>
        </nav>
      </header>
    </div>

    <div class="overflow-y-auto h-[calc(100vh-65px)] min-h-[calc(100vh-65px)]">
      <main
        class:list={[
          "mx-auto prose min-h-[calc(100vh-64px-154px)]",
          { "max-w-7xl p-3": !fluid, "w-full max-w-full": fluid },
        ]}
      >
        <slot />
      </main>

      <footer class="bg-slate-100 py-5">
        <div class="text-gray-500 text-center max-w-4xl mx-auto">
          <Socials class="mx-auto py-3" />
          <div class="w-full h-[1px] bg-slate-200"></div>
          <p class="py-3">
            by the <a
              class="hover:underline underline-offset-2"
              href="https://github.com/probe-rs/probe-rs/graphs/contributors"
              >probe-rs contributors</a
            > &mdash; <a
              class="border-[1px] border-slate-200 rounded-sm px-2 py-1 cursor-pointer"
              href="#">Light theme</a
            >
          </p>
        </div>
      </footer>
    </div>
  </body>
</html>
